.navbar {
  background: #6468a8;
  display: flex;
  justify-content: space-around;
}

.navbar-header img {
  height: 100%;
}

.navbar-collapse {
  width: 80%;
  display: flex;
  justify-content: center;
}

.navbar-collapse .menu {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.navbar-collapse a {
  text-decoration: none;
  color: white;
}

.navbar-collapse ul {
  list-style-type: none;
}